<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Everyday Bingo</title>
</head>
<body>
	
	<div class = "container">
		<% 5.times do %>
			<div class = "row">
				<% 5.times do %>
					<div class = "square">
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</body>
</html>