<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Everyday Bingo</title>
</head>
<body>
	<div class = "container-fluid">
		<div class = "row">
			<div id = "welcome-message" class = "col-xs-6">
				<h1>Home Page</h1>
			</div>
			<div id = "welcome-message" class = "col-xs-6">
				<label name = "game_id">Insert game code </label>
				<input type = "textarea" name = 'game_id'>
			</div>
		</div>
	</div>
</body>
</html>